<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Jaydeep Brass Industries</title>
    <meta name="description" content="">
    <!-- Mobile Specific Metas
    ================================================== -->


    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="/Content/css/font-awesome.min.css" />
    <!-- Animation -->
    <link rel="stylesheet" href="/Content/css/animate.css" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/Content/css/owl.carousel.css" />
    <link rel="stylesheet" href="/Content/css/owl.theme.css" />

    <link href="~/Content/css/ninja-slider.css" rel="stylesheet" />
    <!-- Pretty Photo -->
    <link rel="stylesheet" href="/Content/css/prettyPhoto.css" />
    <!-- Main color style -->
    <link rel="stylesheet" href="/Content/css/red.css" />
    <!-- Template styles-->
    <link rel="stylesheet" href="/Content/css/custom.css" />
    <!-- Responsive -->
    <link rel="stylesheet" href="/Content/css/responsive.css" />
    <link rel="stylesheet" href="/Content/css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'>
</head>
<body data-spy="scroll" data-target=".navbar-fixed-top">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header id="section_header" class="navbar-fixed-top main-nav" role="banner">
        <div class="container">
            <!-- <div class="row"> -->
            <div class="navbar-header ">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="company-title">
                    <a style="float:left" href="#">
                        <img src=" ~/Content/images/logo_new.jpg" alt="" class="companyLogo">
                        <ul class="nav navbar-nav navbar-right companyName">
                            <li><a href="#">Jaydeep Brass Industries</a> </li>
                        </ul>
                    </a>
                </div>
            </div><!--Navbar header End-->
            <nav class="collapse navbar-collapse navigation" id="bs-example-navbar-collapse-1" role="navigation">
                <ul class="nav navbar-nav navbar-right ">
                    <li class="active"> <a href="#slider_part">Home </a></li>
                    <li><a href="#service">Services</a> </li>
                    <li><a href="#portfolio">Portfolio</a> </li>
                    <li><a href="#about">About Us </a> </li>
                    <li><a href="#team">Our Team </a> </li>
                    @*<li><a href="#blog">Blog</a> </li>*@
                    <li><a href="#contact">Contact Us</a> </li>
                </ul>
            </nav>
        </div><!-- /.container-fluid -->
    </header>
    <!-- Slider start -->
    <section id="slider_part">
        <div class="carousel slide" id="carousel-example-generic" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators text-center">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <div class="overlay-slide">
                        <img src="/Content/images/banner/b1_1.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="carousel-caption">
                        <div class="col-md-12 col-xs-12 text-center">
                            <h2>Jaydeep Brass Industries</h2>
                            <h3 class="animated2"> <b>Precise</b> Modern and clean </h3>
                            <div class="line"></div>
                            <p class="animated3">Unique precision engineering</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="overlay-slide">
                        <img src="/Content/images/banner/b2.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="carousel-caption">
                        <div class="col-md-12 col-xs-12 text-center">
                            <h2>Jaydeep Brass Industries</h2>
                            <h3 class="animated3"><b>Quality </b>components</h3>
                            <div class="line"></div>
                            <p class="animated2">best choice for you</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="overlay-slide">
                        <img src="/Content/images/banner/b3.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="carousel-caption">
                        <div class="col-md-12 col-xs-12 text-center">
                            <h2>Jaydeep Brass Industries</h2>
                            <h3 class="animated3"> We're crazy <b>Manufacturers</b></h3>
                            <div class="line"></div>
                            <p class="animated2"> way to success</p>
                        </div>
                    </div>
                </div>
            </div> 	 <!-- End Carousel Inner -->
            <!-- Controls -->
            <div class="slides-control ">
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span><i class="fa fa-angle-left"></i></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span><i class="fa fa-angle-right"></i></span>
                </a>
            </div>
        </div>
    </section>
    <!--/ Slider end -->
    <!-- Service Area start -->
    <section id="service">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h3 class="feature_title">Our <b>Services</b></h3>
                        <h4 class="feature_sub">We create value. <br>Continuosly shipping precision quality components on time, everytime!</h4>
                        <div class="divider"></div>
                    </div>
                </div>  <!-- Col-md-12 End -->
            </div>
            <div class="row">
                <div class="main_feature text-center">
                    <div class="col-md-3 col-xs-12 col-sm-6">
                        <div class="feature_content">
                            <i class="fa fa-industry"></i>
                            <h5>Manufacturing</h5>
                            <p>Our dedicated manufacturing team assures supply of components exactly as per customer drawing and specifications.</p>
                            @*<button class="btn btn-main"> Read More</button>*@
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12 col-sm-6">
                        <div class="feature_content">
                            <i class="fa fa-truck"></i>
                            <h5>Delivery</h5>
                            <p>We integrate our manufacturing with world class delivery methods, easy and awesome! </p>
                            @*<button class="btn btn-main"> Read More</button>*@
                        </div>
                    </div> <!-- Col-md-4 Single_feature End -->
                    <div class="col-md-3 col-xs-12 col-sm-6">
                        <div class="feature_content">
                            <i class="fa fa-support"></i>
                            <h5>Full time Support</h5>
                            <p>With our support for changes in requirements, you won't have to re-order anything. Really!! </p>
                            @*<button class="btn btn-main"> Read More</button>*@
                        </div>
                    </div> <!-- Col-md-4 Single_feature End -->
                    <div class="col-md-3 col-xs-12 col-sm-6">
                        <div class="feature_content">
                            <i class="fa fa-gears"></i>
                            <h5>Ultra Precise</h5>
                            <p>Components are as precise as they get, with no damaged pieces. Everything is created with QUALITY in mind! </p>
                            @*<button class="btn btn-main"> Read More</button>*@
                        </div>
                    </div> <!-- Col-md-4 Single_feature End -->
                    <!-- <button class="btn btn-main"> Read More</button> -->
                </div>
            </div>  <!-- Row End -->
        </div>  <!-- Container End -->
    </section>
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h3 class="feature_title">Our <b>Products</b></h3>
                        <h4 class="feature_sub">Below is the portfolio of our products. </h4>
                        <div class="divider"></div>
                    </div>
                </div>  <!-- Col-md-12 End -->
            </div>
        </div>

        <div id="isotope-filter" class="skew3 text-center">
            <a data-filter="*" href="#" class="active ">All</a>
            <a data-filter=".brassparts" href="#" class="">General Brass parts</a>
            <a data-filter=".electronics" href="#" class="">Electronics parts</a>
            <a data-filter=".nutbolts" href="#" class="">Nut Bolts and Grub screws</a>
            <a data-filter=".pipeing" href="#" class="">Piping solution parts</a>
            <a data-filter=".gas" href="#" class="">Gas parts</a>
            <a data-filter=".moulding" href="#" class="">Moulding Inserts</a>

        </div>
        <div class="clearfix"></div>
        <div id="ninja-slider">
            <div class="slider-inner">
                <ul>
                    <li class="brassparts"><img src="~/Content/images/a.jpg" /></li>
                    <li class="brassparts"><img src="~/Content/images/GeneralBrassParts/0001.jpg" /></li>
                    <li class="brassparts"><img src="~/Content/images/GeneralBrassParts/03.jpg" /></li>
                    <li class="brassparts"><img src="~/Content/images/GeneralBrassParts/DSC_6091.JPG" /></li>
                    <li class="brassparts"><img src="~/Content/images/GeneralBrassParts/DSC_5307.JPG" /></li>
                    <li class="brassparts"><img src="~/Content/images/GeneralBrassParts/DSC_6097.JPG" /></li>
                    <li class="brassparts"><img src="~/Content/images/GeneralBrassParts/DSC_6104.JPG" /></li>
                    <li class="brassparts"><img src="~/Content/images/GeneralBrassParts/DSC_6125.JPG" /></li>
                    <li class="brassparts"><img src="~/Content/images/GeneralBrassParts/DSC_6175.JPG" /></li>
                    <li class="brassparts"><img src="~/Content/images/GeneralBrassParts/DSC_6155.JPG" /></li>
                    <li class="brassparts"><img src="~/Content/images/GeneralBrassParts/DSC_6193.JPG" /></li>
                    <li class="brassparts"><img src="~/Content/images/GeneralBrassParts/DSC_6194.JPG" /></li>
                    <li class="brassparts"><img src="~/Content/images/GeneralBrassParts/DSC_6202.JPG" /></li>
                    <li class="brassparts"><img src="~/Content/images/GeneralBrassParts/DSC_6203.JPG" /></li>
                    <li class="brassparts"><img src="~/Content/images/GeneralBrassParts/DSC_6211.JPG" /></li>
                    <li class="brassparts"><img src="~/Content/images/GeneralBrassParts/DSC_6229.JPG" /></li>
                    <li class="brassparts"><img src="~/Content/images/GeneralBrassParts/DSC_6243.JPG" /></li>
                    <li class="brassparts"><img src="~/Content/images/GeneralBrassParts/DSC_6244.JPG" /></li>
                    <li class="brassparts"><img src="~/Content/images/b.jpg" /></li>
                    <li class="brassparts"><img src="~/Content/images/c.jpg" /></li>
                    <li><img src="/Content/images/portfolio/p2.jpg" alt="" /></li>
                    <li><img src="/Content/images/portfolio/p1.jpg" alt="" /></li>
                    <li><img src="/Content/images/portfolio/p3.jpg" alt="" /></li>
                    <li><img src="/Content/images/portfolio/p4.jpg" alt="" /></li>
                </ul>
            </div>
        </div>

        @*<div class="text-center ">
                <ul class="portfolio-wrap" id="portfolio_items">
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio electrical">
                        <figure>
                            <img src="/Content/images/portfolio/p2.jpg" alt="" />
                            <figcaption>
                                <h5>Electrical Connectors</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p1.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Brass electrical connectors of every specification
                                </p>
                            </figcaption>
                        </figure>
                    </li>

                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio auto">
                        <figure>
                            <img src="/Content/images/portfolio/p2.jpg" alt="" />
                            <figcaption>
                                <h5>Auto parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p3.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio auto">
                        <figure>
                            <img src="/Content/images/portfolio/p7.jpg" alt="" />
                            <figcaption>
                                <h5>Auto parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p2.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio auto">
                        <figure>
                            <img src="/Content/images/portfolio/p1.jpg" alt="" />
                            <figcaption>
                                <h5>Auto parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p2.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio pipeing">
                        <figure>
                            <img src="/Content/images/portfolio/p3.jpg" alt="" />
                            <figcaption>
                                <h5>Pipeing solution parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p3.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio pipeing">
                        <figure>
                            <img src="/Content/images/portfolio/p5.jpg" alt="" />
                            <figcaption>
                                <h5>Pipeing solution parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p5.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio pipeing">
                        <figure>
                            <img src="/Content/images/portfolio/p7.jpg" alt="" />
                            <figcaption>
                                <h5>Pipeing solution parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p7.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio electronics">
                        <figure>
                            <img src="/Content/images/portfolio/p7.jpg" alt="" />
                            <figcaption>
                                <h5>Electronics parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p7.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio electronics">
                        <figure>
                            <img src="/Content/images/portfolio/p5.jpg" alt="" />
                            <figcaption>
                                <h5>Electronics parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p5.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio electronics">
                        <figure>
                            <img src="/Content/images/portfolio/p6.jpg" alt="" />
                            <figcaption>
                                <h5>Electronics parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p6.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio electronics">
                        <figure>
                            <img src="/Content/images/portfolio/p3.jpg" alt="" />
                            <figcaption>
                                <h5>Electronics parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p3.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio electronics">
                        <figure>
                            <img src="/Content/images/portfolio/p7.jpg" alt="" />
                            <figcaption>
                                <h5>Electronics parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p7.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio gas">
                        <figure>
                            <img src="/Content/images/portfolio/p5.jpg" alt="" />
                            <figcaption>
                                <h5>gas parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p7.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio gas">
                        <figure>
                            <img src="/Content/images/portfolio/p7.jpg" alt="" />
                            <figcaption>
                                <h5>gas parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p7.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio gas">
                        <figure>
                            <img src="/Content/images/portfolio/p1.jpg" alt="" />
                            <figcaption>
                                <h5>gas parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p7.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio moulding">
                        <figure>
                            <img src="/Content/images/portfolio/p5.jpg" alt="" />
                            <figcaption>
                                <h5>Moulding Inserts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p7.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio moulding">
                        <figure>
                            <img src="/Content/images/portfolio/p7.jpg" alt="" />
                            <figcaption>
                                <h5>Moulding Inserts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p7.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio moulding">
                        <figure>
                            <img src="/Content/images/portfolio/p1.jpg" alt="" />
                            <figcaption>
                                <h5>Moulding Inserts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p7.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>*@ <!-- Container Full End -->
    </section>  <!-- Portfolio Section End -->
    <div class="clearfix"></div>
    <!-- About us start -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h3 class="feature_title">Who <b>Are we</b></h3>
                        <h4 class="feature_sub">Manufacturers of Custom Brass Components.</h4>
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="feature-tab">
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <ul class="nav nav-tabs main-tab-list text-center" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#home" role="tab" data-toggle="tab">
                                    <div class="single-tab">
                                        <div class="f-icon">
                                            <i class="fa fa-laptop"></i>
                                        </div>
                                    </div>
                                    <h4>Committed To Quality</h4>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#profile" role="tab" data-toggle="tab">
                                    <div class="single-tab">
                                        <div class="f-icon">
                                            <i class="fa fa-send"></i>
                                        </div>
                                    </div>
                                    <h4>Vision</h4>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#photo" role="tab" data-toggle="tab">
                                    <div class="single-tab">
                                        <div class="f-icon">
                                            <i class="fa fa-camera"></i>
                                        </div>
                                    </div>
                                    <h4>Specialization</h4>
                                </a>
                            </li>
                        </ul>
                    </div>  <!-- col-md-12 end -->
                    <div class="col-md-10 col-sm-9 col-xs-12">
                        <div class="tab-content main-tab-content">
                            <div role="tabpanel" class="tab-pane active " id="home">
                                <div class="col-md-12 col-sm-9">
                                    <img src="/Content/images/about/quality.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="col-md-12 col-sm-9">
                                    <div class="c-tab">
                                        <h4>Our Commitment</h4>
                                        <p>At Jaydeep Brass, we are committed to delivering high-quality products and services to our customers and continuously strive to improve in all aspects of our product development.</p>
                                        <p>We strive for continuous improvement and – our Quality Management System provides a framework for measuring and improving our products and performance.</p>
                                        <p>Our internal procedures are regularly reviewed both internally and externally to ensure we provide our customers with the best products – on time and at the right quality.</p>
                                        <br>
                                    </div>
                                </div>

                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                                <div class="col-md-12 col-sm-9">
                                    <img src="~/Content/images/about/vision.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="col-md-12 col-sm-9">
                                    <div class="c-tab">
                                        <h4>Our Vision</h4>
                                        <p> <b>Profit:</b> Maximizing return to share owners while being mindful of our overall responsibilities.</p>
                                        <p>
                                            <b>Teamwork:</b> Being a great place to work where people are inspired to be the best they can be.
                                        </p>
                                        <p>
                                            <b>Portfolio:</b> Bringing to the world a portfolio of products that anticipate and satisfy people's desires and needs.
                                        </p>
                                        <p>
                                            <b>Partners:</b> Nurturing a winning network of partners and building mutual loyalty.
                                        </p>
                                        <br>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="photo">
                                <div class="col-md-12 col-sm-9">
                                    <img src="~/Content/images/about/specialization.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="col-md-12 col-sm-9">
                                    <div class="c-tab">
                                        <h4>Our Specialization</h4>
                                        <p>
                                            Precision Turned & Machined Brass and Moulding Components.
                                        </p>
                                        <p>
                                            Expertise in Brass,Other Piping solution parts and Gas parts.
                                        </p>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- About us End -->
    <!-- Team MEmber Start -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h3 class="feature_title">Our <b>Team Members</b></h3>
                        <div class="divider"></div>
                    </div>
                </div>  <!-- Col-md-12 End -->
                <div id="owl-demo" class="owl-carousel owl-theme team-items">
                    <div class="item text-center">
                        <div class="single-member">
                            <div class="overlay-hover">
                                <img src="~/Content/images/Jayanti.jpg" alt="" class="img-responsive">
                                <div class="overlay-effect">
                                    <p>As the founder of Jaydeep Brass Industries, he handles the day to day functioning of the company. </p>
                                </div>
                            </div>
                            <h3>
                                Jayanti Parmar
                            </h3>
                            <h3>( +91- 9898405154 )</h3>
                            <h5>Founder</h5>
                        </div>
                    </div>  <!-- item wrapper end -->
                    <div class="item text-center">
                        <div class="single-member">
                            <div class="overlay-hover">
                                <img src="~/Content/images/Pravin.jpg" alt="" class="img-responsive">
                                <div class="overlay-effect">
                                    <p>As the founder of Jaydeep Brass Industries, he handles the day to day functioning of the company. </p>
                                </div>
                            </div>
                            <h3>Pravin Chauhan</h3>
                            <h3>( +91 - 9898612462 )</h3>
                            <h5>Founder</h5>
                        </div>
                    </div>  <!-- item wrapper end -->

                </div>
            </div>
        </div> <!-- Conatiner Team end -->
        <!-- </div> -->
    </section>  <!-- Section TEam End -->
    <!-- Our Team Members End -->
    <!-- Conatct Area Start-->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h3 class="feature_title">Keep In <b>touch</b></h3>
                        <h4 class="feature_sub">Send in a word, we'll get in touch with you!</h4>
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="contact_full">
                    <div class="col-md-6 left">
                        <div class="left_contact">
                            <form action="role">
                                <div class="form-level">
                                    <input name="name" placeholder="Name" id="name" value="" type="text" class="input-block">
                                    <span class="form-icon fa fa-user"></span>
                                </div>
                                <div class="form-level">
                                    <input name="email" placeholder="Email" id="mail" class="input-block" value="" type="email">
                                    <span class="form-icon fa fa-envelope-o"></span>
                                </div>
                                <div class="form-level">
                                    <input name="name" placeholder="Phone" id="phone" class="input-block" value="" type="text">
                                    <span class="form-icon fa fa-phone"></span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 right">
                        <div class="form-level">
                            <textarea name="" id="messege" rows="5" class="textarea-block" placeholder="message"></textarea>
                            <span class="form-icon fa fa-pencil"></span>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <button class="btn btn-main featured">Submit Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="g-map" class="no-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="map" id="map"></div>
            </div>
        </div>
    </div>
    <!-- Footer Area Start -->
    <section id="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h3 class="menu_head">Main Menu</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="#about">Home</a></li>
                                <li><a href="#service">Service</a></li>
                                <li><a href="#portfolio">Portfolio</a></li>
                                <li><a href="#about">About Us </a> </li>
                                <li><a href="#team">Our Team </a> </li>
                                <li><a href="#contact">Contact Us</a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h3 class="menu_head">Contact us</h3>
                        <div class="footer_menu_contact">
                            <ul>
                                <li>
                                    <i class="fa fa-home"></i>
                                    <span> Near SBI, Shankar Tekri, Udyog Nagar, Jamnagar </span>
                                </li>
                                <li>
                                    <i class="fa fa-globe"></i>
                                    <span> +91 - 9898405154 </span><br />
                                    <i class="fa fa-globe"></i>
                                    <span> +91 - 9898612462 </span>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <span> jaydeepjayanti@mail.com</span>
                                </li>
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <span> www.jaydeepbrass.com</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_b">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="footer_bottom">
                            <p class="text-block"> &copy; Copyright reserved to <span>Jaydeep Brass Industries </span></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="footer_mid pull-right">
                            <ul class="social-contact list-inline">
                                <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li> <a href="#"><i class="fa fa-rss"></i></a></li>
                                <li> <a href="#"><i class="fa fa-google-plus"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"> <i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Area End -->
    <!-- Back To Top Button -->
    <div id="back-top">
        <a href="#slider_part" class="scroll" data-scroll>
            <button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-up"></i></button>
        </a>
    </div>
    <!-- End Back To Top Button -->
    <!-- Javascript Files
        ================================================== -->
    <!-- initialize jQuery Library -->
    <!-- initialize jQuery Library -->
    <!-- Main jquery -->
    <script type="text/javascript" src="/Content/js/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="/Content/js/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="/Content/js/owl.carousel.min.js"></script>
    <!-- Isotope -->
    <script src="/Content/js/jquery.isotope.js"></script>
    <!-- Pretty Photo -->
    <script type="text/javascript" src="/Content/js/jquery.prettyPhoto.js"></script>
    <!-- SmoothScroll -->
    <script type="text/javascript" src="/Content/js/smooth-scroll.js"></script>
    <!-- Image Fancybox -->
    <script type="text/javascript" src="/Content/js/jquery.fancybox.pack.js?v=2.1.5"></script>
    <!-- Counter  -->
    <script type="text/javascript" src="/Content/js/jquery.counterup.min.js"></script>
    <!-- waypoints -->
    <script type="text/javascript" src="/Content/js/waypoints.min.js"></script>
    <!-- Bx slider -->
    <script type="text/javascript" src="/Content/js/jquery.bxslider.min.js"></script>
    <!-- Scroll to top -->
    <script type="text/javascript" src="/Content/js/jquery.scrollTo.js"></script>
    <!-- Easing js -->
    <script type="text/javascript" src="/Content/js/jquery.easing.1.3.js"></script>
    <!-- PrettyPhoto -->
    <script src="/Content/js/jquery.singlePageNav.js"></script>
    <!-- Wow Animation -->
    <script type="text/javascript" src="/Content/js/wow.min.js"></script>
    <!-- Google Map  Source -->
    <script type="text/javascript" src="/Content/js/gmaps.js"></script>

    <script src="~/Content/js/ninja-slider.js"></script>
    <!-- Custom js -->
    <script src="/Content/js/custom.js"></script>
    <script>
        // Google Map - with support of gmaps.js
        var map;
        map = new GMaps({
            div: '#map',
            lat: 22.461823,
            lng: 70.066661,
            scrollwheel: false,
            panControl: false,
            zoomControl: false,
        });

        map.addMarker({
            lat: 22.461823,
            lng: 70.066661,
            title: 'Smilebuddy',
            infoWindow: {
                content: '<p> Near SBS, Shankar Tekri, Udyog Nagar</p>'
            },
            icon: "/Content/images/map1.png"
        });

        jQuery(function($) {
            var $filter = $('#isotope-filter');

            $filter.find('a').click(function () {
                var selector = $(this).attr('data-filter');
                $('#ninja-slider li').css('display', 'none');
                if (selector == '.brassparts') {
                    $('#ninja-slider li.electrical').css('display', 'block');
                }
       

                
            });
        });
    </script>

</body>
</html>