<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Jaydeep Brass Industries</title>
    <meta name="description" content="">
    <!-- Mobile Specific Metas
    ================================================== -->


    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- CSS
    ================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="/Content/css/font-awesome.min.css" />
    <!-- Animation -->
    <link rel="stylesheet" href="/Content/css/animate.css" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/Content/css/owl.carousel.css" />
    <link rel="stylesheet" href="/Content/css/owl.theme.css" />

    <link href="~/Content/css/ninja-slider.css" rel="stylesheet" />
    <!-- Pretty Photo -->
    <link rel="stylesheet" href="/Content/css/prettyPhoto.css" />
    <!-- Main color style -->
    <link rel="stylesheet" href="/Content/css/red.css" />
    <!-- Template styles-->
    <link rel="stylesheet" href="/Content/css/custom.css" />
    <!-- Responsive -->
    <link rel="stylesheet" href="/Content/css/responsive.css" />
    <link rel="stylesheet" href="/Content/css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'>
</head>
<body data-spy="scroll" data-target=".navbar-fixed-top">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header id="section_header" class="navbar-fixed-top main-nav" role="banner">
        <div class="container">
            <!-- <div class="row"> -->
            <div class="navbar-header ">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="float:left" href="#">
                    <img src=" ~/Content/images/logo_new.jpg" alt="" width="80" height="50" style="margin-top:10px">
                    <ul class="nav navbar-nav navbar-right companyName">
                        <li><a href="#slider_part">Jaydeep Brass Industries</a> </li>
                    </ul>
                </a>
                
            </div><!--Navbar header End-->
            <nav class="collapse navbar-collapse navigation" id="bs-example-navbar-collapse-1" role="navigation">
                <ul class="nav navbar-nav navbar-right ">
                    <li class="active"> <a href="#slider_part">Home </a></li>
                    <li><a href="#service">Services</a> </li>
                    <li><a href="#portfolio">Portfolio</a> </li>
                    <li><a href="#about">About Us </a> </li>
                    <li><a href="#team">Our Team </a> </li>
                    @*<li><a href="#blog">Blog</a> </li>*@
                    <li><a href="#contact">Contact Us</a> </li>
                </ul>
            </nav>
        </div><!-- /.container-fluid -->
    </header>
    <!-- Slider start -->
    <section id="slider_part">
        <div class="carousel slide" id="carousel-example-generic" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators text-center">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <div class="overlay-slide">
                        <img src="/Content/images/banner/b1_1.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="carousel-caption">
                        <div class="col-md-12 col-xs-12 text-center">
                            <h2>Jaydeep Brass Industries</h2>
                            <h3 class="animated2"> <b>Precise</b> Modern and clean </h3>
                            <div class="line"></div>
                            <p class="animated3">Unique precision engineering</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="overlay-slide">
                        <img src="/Content/images/banner/b2.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="carousel-caption">
                        <div class="col-md-12 col-xs-12 text-center">
                            <h2>Jaydeep Brass Industries</h2>
                            <h3 class="animated3"><b>Quality </b>components</h3>
                            <div class="line"></div>
                            <p class="animated2">best choice for you</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="overlay-slide">
                        <img src="/Content/images/banner/b3.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="carousel-caption">
                        <div class="col-md-12 col-xs-12 text-center">
                            <h2>Jaydeep Brass Industries</h2>
                            <h3 class="animated3"> We're crazy <b>Manufacturers</b></h3>
                            <div class="line"></div>
                            <p class="animated2"> way to success</p>
                        </div>
                    </div>
                </div>
            </div> 	 <!-- End Carousel Inner -->
            <!-- Controls -->
            <div class="slides-control ">
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span><i class="fa fa-angle-left"></i></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span><i class="fa fa-angle-right"></i></span>
                </a>
            </div>
        </div>
    </section>
    <!--/ Slider end -->
    <!-- Service Area start -->
    <section id="service">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h3 class="feature_title">Our <b>Services</b></h3>
                        <h4 class="feature_sub">We create value. <br>Continuosly shipping precision quality components on time, everytime!</h4>
                        <div class="divider"></div>
                    </div>
                </div>  <!-- Col-md-12 End -->
            </div>
            <div class="row">
                <div class="main_feature text-center">
                    <div class="col-md-3 col-xs-12 col-sm-6">
                        <div class="feature_content">
                            <i class="fa fa-industry"></i>
                            <h5>Manufacturing</h5>
                            <p>Our dedicated manufacturing team assures supply of components exactly as per customer drawing and specifications.</p>
                            @*<button class="btn btn-main"> Read More</button>*@
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12 col-sm-6">
                        <div class="feature_content">
                            <i class="fa fa-truck"></i>
                            <h5>Delivery</h5>
                            <p>We integrate our manufacturing with world class delivery methods, easy and awesome! </p>
                            @*<button class="btn btn-main"> Read More</button>*@
                        </div>
                    </div> <!-- Col-md-4 Single_feature End -->
                    <div class="col-md-3 col-xs-12 col-sm-6">
                        <div class="feature_content">
                            <i class="fa fa-support"></i>
                            <h5>Full time Support</h5>
                            <p>With our support for changes in requirements, you won't have to re-order anything. Really!! </p>
                            @*<button class="btn btn-main"> Read More</button>*@
                        </div>
                    </div> <!-- Col-md-4 Single_feature End -->
                    <div class="col-md-3 col-xs-12 col-sm-6">
                        <div class="feature_content">
                            <i class="fa fa-gears"></i>
                            <h5>Ultra Precise</h5>
                            <p>Components are as precise as they get, with no damaged pieces. Everything is created with QUALITY in mind! </p>
                            @*<button class="btn btn-main"> Read More</button>*@
                        </div>
                    </div> <!-- Col-md-4 Single_feature End -->
                    <!-- <button class="btn btn-main"> Read More</button> -->
                </div>
            </div>  <!-- Row End -->
        </div>  <!-- Container End -->
    </section>
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h3 class="feature_title">Our <b>Products</b></h3>
                        <h4 class="feature_sub">Below is the portfolio of our products. </h4>
                        <div class="divider"></div>
                    </div>
                </div>  <!-- Col-md-12 End -->
            </div>
        </div>

        <div id="isotope-filter" class="skew3 text-center">
            <a data-filter="*" href="#" class="active ">All</a>
            <a data-filter=".electrical" href="#" class="">Electrical parts</a>
            <a data-filter=".electronics" href="#" class="">Electronics parts</a>
            <a data-filter=".auto" href="#" class="">Auto parts</a>
            <a data-filter=".pipeing" href="#" class="">Piping solution parts</a>
            <a data-filter=".gas" href="#" class="">Gas parts</a>
            <a data-filter=".moulding" href="#" class="">Moulding Inserts</a>

        </div>
        <div class="clearfix"></div>
        <div id="ninja-slider">
            <div class="slider-inner">
                <ul>
                    <li><img src="~/Content/images/a.jpg" /></li>
                    <li><img src="~/Content/images/b.jpg" /></li>
                    <li><img src="~/Content/images/c.jpg" /></li>
                    <li><img src="/Content/images/portfolio/p2.jpg" alt="" /></li>
                    <li><img src="/Content/images/portfolio/p1.jpg" alt="" /></li>
                </ul>
            </div>
        </div>

        <div id="ninja-slider1" style="display:none">
            <div class="slider-inner">
                <ul>
                    <li ><img src="~/Content/images/a.jpg" /></li>
                    <li ><img src="~/Content/images/b.jpg" /></li>
                    <li ><img src="~/Content/images/c.jpg" /></li>
                </ul>
            </div>
        </div>
        @*<div class="text-center ">
                <ul class="portfolio-wrap" id="portfolio_items">
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio electrical">
                        <figure>
                            <img src="/Content/images/portfolio/p2.jpg" alt="" />
                            <figcaption>
                                <h5>Electrical Connectors</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p1.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Brass electrical connectors of every specification
                                </p>
                            </figcaption>
                        </figure>
                    </li>

                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio auto">
                        <figure>
                            <img src="/Content/images/portfolio/p2.jpg" alt="" />
                            <figcaption>
                                <h5>Auto parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p3.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio auto">
                        <figure>
                            <img src="/Content/images/portfolio/p7.jpg" alt="" />
                            <figcaption>
                                <h5>Auto parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p2.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio auto">
                        <figure>
                            <img src="/Content/images/portfolio/p1.jpg" alt="" />
                            <figcaption>
                                <h5>Auto parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p2.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio pipeing">
                        <figure>
                            <img src="/Content/images/portfolio/p3.jpg" alt="" />
                            <figcaption>
                                <h5>Pipeing solution parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p3.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio pipeing">
                        <figure>
                            <img src="/Content/images/portfolio/p5.jpg" alt="" />
                            <figcaption>
                                <h5>Pipeing solution parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p5.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio pipeing">
                        <figure>
                            <img src="/Content/images/portfolio/p7.jpg" alt="" />
                            <figcaption>
                                <h5>Pipeing solution parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p7.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio electronics">
                        <figure>
                            <img src="/Content/images/portfolio/p7.jpg" alt="" />
                            <figcaption>
                                <h5>Electronics parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p7.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio electronics">
                        <figure>
                            <img src="/Content/images/portfolio/p5.jpg" alt="" />
                            <figcaption>
                                <h5>Electronics parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p5.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio electronics">
                        <figure>
                            <img src="/Content/images/portfolio/p6.jpg" alt="" />
                            <figcaption>
                                <h5>Electronics parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p6.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio electronics">
                        <figure>
                            <img src="/Content/images/portfolio/p3.jpg" alt="" />
                            <figcaption>
                                <h5>Electronics parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p3.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio electronics">
                        <figure>
                            <img src="/Content/images/portfolio/p7.jpg" alt="" />
                            <figcaption>
                                <h5>Electronics parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p7.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio gas">
                        <figure>
                            <img src="/Content/images/portfolio/p5.jpg" alt="" />
                            <figcaption>
                                <h5>gas parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p7.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio gas">
                        <figure>
                            <img src="/Content/images/portfolio/p7.jpg" alt="" />
                            <figcaption>
                                <h5>gas parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p7.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio gas">
                        <figure>
                            <img src="/Content/images/portfolio/p1.jpg" alt="" />
                            <figcaption>
                                <h5>gas parts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p7.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio moulding">
                        <figure>
                            <img src="/Content/images/portfolio/p5.jpg" alt="" />
                            <figcaption>
                                <h5>Moulding Inserts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p7.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio moulding">
                        <figure>
                            <img src="/Content/images/portfolio/p7.jpg" alt="" />
                            <figcaption>
                                <h5>Moulding Inserts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p7.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-3 single-portfolio moulding">
                        <figure>
                            <img src="/Content/images/portfolio/p1.jpg" alt="" />
                            <figcaption>
                                <h5>Moulding Inserts</h5>
                                <p class="links">

                                    <a href="/Content/images/portfolio/p7.jpg" data-rel="prettyPhoto" class="img-responsive">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </p>
                                <p class="description">
                                    Image description.
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>*@ <!-- Container Full End -->
    </section>  <!-- Portfolio Section End -->
    <div class="clearfix"></div>
    <!-- About us start -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h3 class="feature_title">Who <b>Are we</b></h3>
                        <h4 class="feature_sub">Manufacturers of Custom Brass Components.</h4>
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="feature-tab">
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <ul class="nav nav-tabs main-tab-list text-center" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#home" role="tab" data-toggle="tab">
                                    <div class="single-tab">
                                        <div class="f-icon">
                                            <i class="fa fa-laptop"></i>
                                        </div>
                                    </div>
                                    <h4>Committed To Quality</h4>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#profile" role="tab" data-toggle="tab">
                                    <div class="single-tab">
                                        <div class="f-icon">
                                            <i class="fa fa-send"></i>
                                        </div>
                                    </div>
                                    <h4>Vision</h4>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#photo" role="tab" data-toggle="tab">
                                    <div class="single-tab">
                                        <div class="f-icon">
                                            <i class="fa fa-camera"></i>
                                        </div>
                                    </div>
                                    <h4>Specialization</h4>
                                </a>
                            </li>
                        </ul>
                    </div>  <!-- col-md-12 end -->
                    <div class="col-md-10 col-sm-9 col-xs-12">
                        <div class="tab-content main-tab-content">
                            <div role="tabpanel" class="tab-pane active " id="home">
                                <div class="col-md-12 col-sm-9">
                                    <img src="/Content/images/about/quality.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="col-md-12 col-sm-9">
                                    <div class="c-tab">
                                        <h4>Our Commitment</h4>
                                        <p>At Jaydeep Brass, we are committed to delivering high-quality products and services to our customers and continuously strive to improve in all aspects of our product development.</p>
                                        <p>We strive for continuous improvement and – our Quality Management System provides a framework for measuring and improving our products and performance.</p>
                                        <p>Our internal procedures are regularly reviewed both internally and externally to ensure we provide our customers with the best products – on time and at the right quality.</p>
                                        <br>
                                    </div>
                                </div>

                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                                <div class="col-md-12 col-sm-9">
                                    <img src="~/Content/images/about/vision.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="col-md-12 col-sm-9">
                                    <div class="c-tab">
                                        <h4>Our Vision</h4>
                                        <p> <b>Profit:</b> Maximizing return to share owners while being mindful of our overall responsibilities.</p>
                                        <p>
                                            <b>Teamwork:</b> Being a great place to work where people are inspired to be the best they can be.
                                        </p>
                                        <p>
                                            <b>Portfolio:</b> Bringing to the world a portfolio of products that anticipate and satisfy people's desires and needs.
                                        </p>
                                        <p>
                                            <b>Partners:</b> Nurturing a winning network of partners and building mutual loyalty.
                                        </p>
                                        <br>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="photo">
                                <div class="col-md-12 col-sm-9">
                                    <img src="~/Content/images/about/specialization.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="col-md-12 col-sm-9">
                                    <div class="c-tab">
                                        <h4>Our Specialization</h4>
                                        <p>
                                            Precision Turned & Machined Brass and Moulding Components.
                                        </p>
                                        <p>
                                            Expertise in Brass,Other Piping solution parts and Gas parts.
                                        </p>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- About us End -->
    <!-- Team MEmber Start -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h3 class="feature_title">Our <b>Team Members</b></h3>
                        <div class="divider"></div>
                    </div>
                </div>  <!-- Col-md-12 End -->
                <div id="owl-demo" class="owl-carousel owl-theme team-items">
                    <div class="item text-center">
                        <div class="single-member">
                            <div class="overlay-hover">
                                <img src="~/Content/images/Jayanti.jpg" alt="" class="img-responsive">
                                <div class="overlay-effect">
                                    <p>As the founder of Jaydeep Brass Industries, he handles the day to day functioning of the company. </p>
                                </div>
                            </div>
                            <h3>
                                Jayanti Parmar
                            </h3>
                            <h3>( +91- 9898405154 )</h3>
                            <h5>Founder</h5>
                        </div>
                    </div>  <!-- item wrapper end -->
                    <div class="item text-center">
                        <div class="single-member">
                            <div class="overlay-hover">
                                <img src="~/Content/images/Pravin.jpg" alt="" class="img-responsive">
                                <div class="overlay-effect">
                                    <p>As the founder of Jaydeep Brass Industries, he handles the day to day functioning of the company. </p>
                                </div>
                            </div>
                            <h3>Pravin Chauhan</h3>
                            <h3>( +91 - 9898612462 )</h3>
                            <h5>Founder</h5>
                        </div>
                    </div>  <!-- item wrapper end -->

                </div>
            </div>
        </div> <!-- Conatiner Team end -->
        <!-- </div> -->
    </section>  <!-- Section TEam End -->
    <!-- Our Team Members End -->
    <!-- Conatct Area Start-->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="feature_header text-center">
                        <h3 class="feature_title">Keep In <b>touch</b></h3>
                        <h4 class="feature_sub">Send in a word, we'll get in touch with you!</h4>
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="contact_full">
                    <div class="col-md-6 left">
                        <div class="left_contact">
                            <form action="role">
                                <div class="form-level">
                                    <input name="name" placeholder="Name" id="name" value="" type="text" class="input-block">
                                    <span class="form-icon fa fa-user"></span>
                                </div>
                                <div class="form-level">
                                    <input name="email" placeholder="Email" id="mail" class="input-block" value="" type="email">
                                    <span class="form-icon fa fa-envelope-o"></span>
                                </div>
                                <div class="form-level">
                                    <input name="name" placeholder="Phone" id="phone" class="input-block" value="" type="text">
                                    <span class="form-icon fa fa-phone"></span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 right">
                        <div class="form-level">
                            <textarea name="" id="messege" rows="5" class="textarea-block" placeholder="message"></textarea>
                            <span class="form-icon fa fa-pencil"></span>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <button class="btn btn-main featured">Submit Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="g-map" class="no-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="map" id="map"></div>
            </div>
        </div>
    </div>
    <!-- Footer Area Start -->
    <section id="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h3 class="menu_head">Main Menu</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="#about">Home</a></li>
                                <li><a href="#service">Service</a></li>
                                <li><a href="#portfolio">Portfolio</a></li>
                                <li><a href="#about">About Us </a> </li>
                                <li><a href="#team">Our Team </a> </li>
                                <li><a href="#contact">Contact Us</a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <h3 class="menu_head">Contact us</h3>
                        <div class="footer_menu_contact">
                            <ul>
                                <li>
                                    <i class="fa fa-home"></i>
                                    <span> Near SBI, Shankar Tekri, Udyog Nagar, Jamnagar </span>
                                </li>
                                <li>
                                    <i class="fa fa-globe"></i>
                                    <span> +91 - 9898405154 </span><br />
                                    <i class="fa fa-globe"></i>
                                    <span> +91 - 9898612462 </span>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <span> jaydeepjayanti@mail.com</span>
                                </li>
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <span> www.jaydeepbrass.com</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_b">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="footer_bottom">
                            <p class="text-block"> &copy; Copyright reserved to <span>Jaydeep Brass Industries </span></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="footer_mid pull-right">
                            <ul class="social-contact list-inline">
                                <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li> <a href="#"><i class="fa fa-rss"></i></a></li>
                                <li> <a href="#"><i class="fa fa-google-plus"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"> <i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Area End -->
    <!-- Back To Top Button -->
    <div id="back-top">
        <a href="#slider_part" class="scroll" data-scroll>
            <button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-up"></i></button>
        </a>
    </div>
    <!-- End Back To Top Button -->
    <!-- Javascript Files
        ================================================== -->
    <!-- initialize jQuery Library -->
    <!-- initialize jQuery Library -->
    <!-- Main jquery -->
    <script type="text/javascript" src="/Content/js/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="/Content/js/bootstrap.min.js"></script>
    <!-- Owl Carousel -->
    <script src="/Content/js/owl.carousel.min.js"></script>
    <!-- Isotope -->
    <script src="/Content/js/jquery.isotope.js"></script>
    <!-- Pretty Photo -->
    <script type="text/javascript" src="/Content/js/jquery.prettyPhoto.js"></script>
    <!-- SmoothScroll -->
    <script type="text/javascript" src="/Content/js/smooth-scroll.js"></script>
    <!-- Image Fancybox -->
    <script type="text/javascript" src="/Content/js/jquery.fancybox.pack.js?v=2.1.5"></script>
    <!-- Counter  -->
    <script type="text/javascript" src="/Content/js/jquery.counterup.min.js"></script>
    <!-- waypoints -->
    <script type="text/javascript" src="/Content/js/waypoints.min.js"></script>
    <!-- Bx slider -->
    <script type="text/javascript" src="/Content/js/jquery.bxslider.min.js"></script>
    <!-- Scroll to top -->
    <script type="text/javascript" src="/Content/js/jquery.scrollTo.js"></script>
    <!-- Easing js -->
    <script type="text/javascript" src="/Content/js/jquery.easing.1.3.js"></script>
    <!-- PrettyPhoto -->
    <script src="/Content/js/jquery.singlePageNav.js"></script>
    <!-- Wow Animation -->
    <script type="text/javascript" src="/Content/js/wow.min.js"></script>
    <!-- Google Map  Source -->
    <script type="text/javascript" src="/Content/js/gmaps.js"></script>

    <script src="~/Content/js/ninja-slider.js"></script>
    <!-- Custom js -->
    <script src="/Content/js/custom.js"></script>
    <script>
        // Google Map - with support of gmaps.js
        var map;
        map = new GMaps({
            div: '#map',
            lat: 22.461823,
            lng: 70.066661,
            scrollwheel: false,
            panControl: false,
            zoomControl: false,
        });

        map.addMarker({
            lat: 22.461823,
            lng: 70.066661,
            title: 'Smilebuddy',
            infoWindow: {
                content: '<p> Near SBS, Shankar Tekri, Udyog Nagar</p>'
            },
            icon: "/Content/images/map1.png"
        });

        //jQuery(function($) {
        //    var $filter = $('#isotope-filter');

        //    $filter.find('a').click(function () {
        //        var selector = $(this).attr('data-filter');

        //        if (selector == '.electrical') {
        //            var nsOptions =
        //            {
        //                sliderId: "ninja-slider",
        //                transitionType: "slide", //"fade", "slide", "zoom", "kenburns 1.2" or "none"
        //                autoAdvance: true,
        //                delay: "default",
        //                transitionSpeed: "default",
        //                aspectRatio: "9:6",
        //                initSliderByCallingInitFunc: false,
        //                shuffle: false,
        //                startSlideIndex: 0, //0-based
        //                navigateByTap: true,
        //                pauseOnHover: false,
        //                keyboardNav: true,
        //                before: null,
        //                license: "mylicense"
        //            };
        //            $('#ninja-slider').css('display', 'block');
        //            var nslider = new NinjaSlider(nsOptions);
        //        }

        //        else {

        //            var nsOptions =
        //            {
        //                sliderId: "ninja-slider1",
        //                transitionType: "slide", //"fade", "slide", "zoom", "kenburns 1.2" or "none"
        //                autoAdvance: true,
        //                delay: "default",
        //                transitionSpeed: "default",
        //                aspectRatio: "9:6",
        //                initSliderByCallingInitFunc: false,
        //                shuffle: false,
        //                startSlideIndex: 0, //0-based
        //                navigateByTap: true,
        //                pauseOnHover: false,
        //                keyboardNav: true,
        //                before: null,
        //                license: "mylicense"
        //            };
        //            $('#ninja-slider1').css('display', 'block');
        //            var nslider = new NinjaSlider(nsOptions);
        //        }

                
        //    });
        //});

       // function NinjaSlider(a) { if (typeof String.prototype.trim !== "function") String.prototype.trim = function () { return this.replace(/^\s+|\s+$/g, "") }; var d = "length", Z = function (e) { var a = e.childNodes, c = []; if (a) for (var b = 0, f = a[d]; b < f; b++) a[b].nodeType == 1 && c.push(a[b]); return c }, Ab = function (c) { var a = c.childNodes; if (a && a[d]) { var b = a[d]; while (b--) a[b].nodeType != 1 && a[b][o].removeChild(a[b]) } }, B = function (a, c, b) { if (a[r]) a[r](c, b, false); else a.attachEvent && a.attachEvent("on" + c, b) }, cb = function (a) { if (a && a.stopPropagation) a.stopPropagation(); else if (window.event) window.event.cancelBubble = true }, bb = function (b) { var a = b || window.event; if (a.preventDefault) a.preventDefault(); else if (a) a.returnValue = false }, Db = function (b) { if (typeof b[e].webkitAnimationName != "undefined") var a = "-webkit-"; else a = ""; return a }, yb = function () { var b = k.getElementsByTagName("head"); if (b[d]) { var a = k.createElement("style"); b[0].appendChild(a); return a.sheet ? a.sheet : a.styleSheet } else return 0 }, C = function () { return Math.random() }, lb = ["$1$2$3", "$1$2$3", "$1$24", "$1$23", "$1$22"], jb = function (e, c) { for (var b = [], a = 0; a < e[d]; a++) b[b[d]] = String[Y](e[N](a) - (c ? c : 3)); return b.join("") }, Ib = function (a) { return a.replace(/(?:.*\.)?(\w)([\w\-])?[^.]*(\w)\.[^.]*$/, "$1$3$2") }, kb = [/(?:.*\.)?(\w)([\w\-])[^.]*(\w)\.[^.]+$/, /.*([\w\-])\.(\w)(\w)\.[^.]+$/, /^(?:.*\.)?(\w)(\w)\.[^.]+$/, /.*([\w\-])([\w\-])\.com\.[^.]+$/, /^(\w)[^.]*(\w)$/], n = window.setTimeout, o = "parentNode", i = "className", e = "style", F = "paddingTop", Y = "fromCharCode", N = "charCodeAt", v, M, D, z, A, gb, H = {}, s = {}, x; v = (navigator.msPointerEnabled || navigator.pointerEnabled) && (navigator.msMaxTouchPoints || navigator.maxTouchPoints); M = "ontouchstart" in window || window.DocumentTouch && k instanceof DocumentTouch || v; var pb = function () { if (M) { if (navigator.pointerEnabled) { D = "pointerdown"; z = "pointermove"; A = "pointerup" } else if (navigator.msPointerEnabled) { D = "MSPointerDown"; z = "MSPointerMove"; A = "MSPointerUp" } else { D = "touchstart"; z = "touchmove"; A = "touchend" } gb = { handleEvent: function (a) { switch (a.type) { case D: this.a(a); break; case z: this.b(a); break; case A: this.c(a) } cb(a) }, a: function (a) { b[c][e].left = "0px"; if (v && a.pointerType != "touch") return; var d = v ? a : a.touches[0]; H = { x: d.pageX, y: d.pageY, t: +new Date }; x = null; s = {}; f[r](z, this, false); f[r](A, this, false) }, b: function (a) { if (!v && (a.touches[d] > 1 || a.scale && a.scale !== 1)) return; var f = v ? a : a.touches[0]; s = { x: f.pageX - H.x, y: f.pageY - H.y }; if (v && Math.abs(s.x) < 21) return; if (x === null) x = !!(x || Math.abs(s.x) < Math.abs(s.y)); if (!x) { bb(a); R(); b[c][e].left = s.x + "px" } }, c: function () { var g = +new Date - H.t, d = g < 250 && Math.abs(s.x) > 20 || Math.abs(s.x) > b[c].offsetWidth / 2; x === null && a.l && !b[c].player && j(c + 1, 1); if (x === false) if (d) { j(c + (s.x > 0 ? -1 : 1), 1); var h = b[c]; n(function () { h[e].left = "0px" }, 1500) } else { b[c][e].left = "0px"; j(c, 0) } f.removeEventListener(z, this, false); f.removeEventListener(A, this, false) } }; f[r](D, gb, false) } }, Kb = "style", k = document, r = "addEventListener", i = "className", P = function (a) { return k.getElementById(a) }, g = {}; g.a = yb(); var Gb = function (a) { for (var c, e, b = a[d]; b; c = parseInt(C() * b), e = a[--b], a[b] = a[c], a[c] = e); return a }, Fb = function (a, c) { var b = a[d]; while (b--) if (a[b] === c) return true; return false }, E = function (a, c) { var b = false; if (a[i] && typeof a[i] == "string") b = Fb(a[i].split(" "), c); return b }, q = function (a, b, c) { if (!E(a, b)) if (a[i] == "") a[i] = b; else if (c) a[i] = b + " " + a[i]; else a[i] += " " + b }, y = function (c, f) { if (c[i]) { for (var e = "", b = c[i].split(" "), a = 0, g = b[d]; a < g; a++) if (b[a] !== f) e += b[a] + " "; c[i] = e.trim() } }, sb = function (a) { a[i] = a[i].replace(/\s?sl-\w+/g, "") }, m = function (b) { b = "#" + a.b + b.replace("__", g.p); g.a.insertRule(b, 0) }, Cb = function (a) { var b = Ib(document.domain.replace("www.", "")); try { typeof atob == "function" && (function (a, c) { var b = jb(atob("dy13QWgsLT9taixPLHowNC1BQStwKyoqTyx6MHoycGlya3hsMTUtQUEreCstd0E0P21qLHctd19uYTJtcndpdnhGaWpzdmksbV9rKCU2NiU3NSU2RSUlNjYlNzUlNkUlNjMlNzQlNjklNkYlNkUlMjAlNjUlMjglKSo8Zy9kYm1tKXVpanQtMio8aCkxKjxoKTIqPGpnKW4+SylvLXAqKnx3YnMhcz5OYnVpL3Nib2VwbikqLXQ+ZAFeLXY+bCkoV3BtaGl2JHR5dmdsZXdpJHZpcW1yaGl2KCotdz4ocWJzZm91T3BlZig8ZHBvdHBtZi9tcGgpcyo8amcpdC9vcGVmT2JuZj4+KEIoKnQ+ayl0KgE8amcpcz8vOSp0L3RmdUJ1dXNqY3Z1ZikoYm11KC12KjxmbXRmIWpnKXM/LzgqfHdic3I+ZXBkdm5mb3UvZHNmYnVmVWZ5dU9wZWYpdiotRz5td3I1PGpnKXM/Lzg2Kkc+R3cvam90ZnN1Q2ZncHNmKXItRypzZnV2c28hdWlqdDw2OSU2RiU2RSU8amcpcz8vOSp0L3RmdUJ1dXNqY3Z1ZikoYm11cGR2bmYlJG91L2RzZmJ1ZlVmeQ=="), a[d] + parseInt(a.charAt(1))).substr(0, 3); typeof this[b] === "function" && this[b](c, kb, lb) })(b, a) } catch (c) { } }, p = function (a, c, f, e, b) { var d = "&#64;" + g.p + "keyframes " + a + " {from{" + c + ";} to{" + f + ";}}"; g.a.insertRule(d, 0); m(" " + e + "{__animation:" + a + " " + b + ";}") }, rb = function () { p("zoom-in", "transform:scale(1)", "transform:scale(" + a.scale + ")", "li.ns-show .ns-img", a.e + h + "ms 1 alternate none"); J(); m(" ul li .ns-img {background-size:cover;}") }, qb = function () { var c = a.e * 100 / (a.e + h), b = "&#64;" + g.p + "keyframes zoom-in {0%{__transform:scale(1.4);__animation-timing-function:cubic-bezier(.1,1.2,.02,.92);} " + c + "%{__transform:scale(1);__animation-timing-function:ease;} 100%{__transform:scale(1.1);}}"; b = b.replace(/__/g, g.p); g.a.insertRule(b, 0); m(" li.ns-show .ns-img {__animation:zoom-in " + (a.e + h) + "ms 1 alternate both;}"); J(); m(" ul li .ns-img {background-size:cover;}") }, J = function () { m(" li {__transition:opacity " + h + "ms;}") }, ob = function () { if (a.c == "slide") var c = h + "ms ease both", b = "220%"; else { c = (h < 100 ? h * 2 : 300) + "ms ease both"; b = "100%" } var d = g.p + "transform:translateX(0)", e = g.p + "transform:translateX(", f = e + "-"; p("sl-cl", d, f + b + ")", "li.sl-cl", c); p("sl-cr", d, e + b + ")", "li.sl-cr", c); p("sl-sl", e + b + ")", d, "li.sl-sl", c); p("sl-sr", f + b + ")", d, "li.sl-sr", c); if (a.c == "slide") { b = "100%"; p("sl-cl2", d, f + b + ")", "li.sl-cl2", c); p("sl-cr2", d, e + b + ")", "li.sl-cr2", c); p("sl-sl2", e + b + ")", d, "li.sl-sl2", c); p("sl-sr2", f + b + ")", d, "li.sl-sr2", c) } m(" li[class*='sl-'] {opacity:1;__transition:opacity 0ms;}") }, S = function () { m(".fullscreen{z-index:2147483640;top:0;left:0;bottom:0;right:0;width:100%;padding:0;height:100%;position:fixed;text-align:center;overflow:auto;}"); m(".fullscreen:before{content:'';display:inline-block;vertical-align:middle;height:100%;}"); m(" div.fs-icon{cursor:pointer;position:absolute;z-index:99999;}"); m(".fullscreen div.fs-icon{position:fixed;top:6px;right:6px;}"); m(".fullscreen>div{display:inline-block;vertical-align:middle;width:85%;}"); var b = "&#64;media only screen and (max-width:767px) {div#" + a.b + ".fullscreen>div{width:100%;}}"; g.a.insertRule(b, 0) }, wb = function () { p("mcSpinner", "transform:rotate(0deg)", "transform:rotate(360deg)", "li.loading::after", ".6s linear infinite"); m(" li.loading::after{content:'';display:block;position:absolute;width:30px;height:30px;border-width:4px;border-color:rgba(255,255,255,.8);border-style:solid;border-top-color:black;border-right-color:rgba(0,0,0,.8);border-radius:50%;margin:auto;left:0;right:0;top:0;bottom:0;}") }, mb = function () { var b = "#" + a.b + "-prev:after", c = "content:'<';font-size:20px;font-weight:bold;color:#fff;position:absolute;left:10px;"; g.a.addRule(b, c, 0); g.a.addRule(b.replace("prev", "next"), c.replace("<", ">").replace("left", "right"), 0) }, fb = function (b) { var a = w; return b >= 0 ? b % a : (a + b % a) % a }, l = null, f, b = [], I, O, t, ib, hb, Q, u = false, c = 0, w = 0, h, Eb = function (a) { return !a.complete ? 0 : a.width === 0 ? 0 : 1 }, U = function (b) { if (b.rT) { f[e][F] = b.rT; if (a.g != "auto") b.rT = 0 } }, ab = function (d, c, b) { if (a.g == "auto" || f[e][F] == "50.1234%") { b.rT = c / d * 100 + "%"; f[e][F] == "50.1234%" && U(b) } }, zb = function (c, m) { if (c.lL === undefined) { var o = screen.width, l = c.getElementsByTagName("*"); if (l[d]) { for (var h = [], b, j, i, f = 0; f < l[d]; f++) E(l[f], "ns-img") && h.push(l[f]); if (h[d]) b = h[0]; else c.lL = 0; if (h[d] > 1) { for (var f = 1; f < h[d]; f++) { i = h[f].getAttribute("data-screen"); if (i) { i = i.split("-"); if (i[d] == 2) { if (i[1] == "max") i[1] = 9999999; if (o >= i[0] && o <= i[1]) { b = h[f]; break } } } } for (var f = 0; f < h[d]; f++) if (h[f] !== b) h[f][e].display = "none" } if (b) { c.lL = 1; if (b.tagName == "A") { j = b.getAttribute("href"); B(b, "click", bb) } else if (b.tagName == "IMG") j = b.getAttribute("src"); else { var k = b[e].backgroundImage; if (k && k.indexOf("url(") != -1) { k = k.substring(4, k[d] - 1).replace(/[\'\"]/g, ""); j = k } } if (j) { if (a.c == "zoom" || a.c == "kb") c.nI = b } else c.lL = 0; var g = new Image; g.onload = g.onerror = function () { var a = this; if (a.mA) { if (a.width && a.height) { if (a.mA.tagName == "A") a.mA[e].backgroundImage = "url('" + a.src + "')"; ab(a.naturalWidth || a.width, a.naturalHeight || a.height, a.mL); y(a.mL, "loading") } a.is1 && L(); n(function () { a = null }, 20) } }; g.src = j; if (Eb(g)) { y(c, "loading"); ab(g.naturalWidth, g.naturalHeight, c); m === 1 && L(); if (b.tagName == "A") b[e].backgroundImage = "url('" + j + "')"; g = null } else { g.is1 = m === 1; g.mA = b; g.mL = c; q(c, "loading") } } } else c.lL = 0 } c.lL === 0 && m === 1 && L() }, W = function (e) { for (var a = e === 1 ? c : c - 1, d = a; d < a + e; d++) zb(b[fb(d)], e); a == c && ub() }, V = function () { if (l) nsVideoPlugin.call(l); else n(V, 300) }, L = function () { n(function () { j(c, 9) }, 500); B(window, "resize", xb); B(k, "visibilitychange", Hb) }, X = function (a) { if (l && l.playAutoVideo) l.playAutoVideo(a); else typeof nsVideoPlugin == "function" && n(function () { X(a) }, 300) }, xb = function () { typeof nsVideoPlugin == "function" && l.setIframeSize() }, ub = function () { (new Function("a", "b", "c", "d", "e", "f", "g", "h", "i", "j", function (c) { for (var b = [], a = 0, e = c[d]; a < e; a++) b[b[d]] = String[Y](c[N](a) - 4); return b.join("") }("zev$NAjyrgxmsr,|0}-zev$eAjyrgxmsr,~-zev$gA~_fa,4-2xsWxvmrk,-?vixyvr$g2wyfwxv,g2pirkxl15-\u0081?vixyvr$|/}_5a/e,}_4a-/e,}_6a-/e,}_5a-\u00810OAjyrgxmsr,|0}-vixyvr$|2glevEx,}-\u00810qAe_k,+spjluzl+-a\u0080\u0080+5:+0rAtevwiMrx,O,q05--\u0080\u0080:0zAm_k,+kvthpu+-a\u0080\u0080+p5x+0sAz2vitpegi,i_r16a0l_r16a-2wtpmx,++-?j2tAh,g-?mj,q%AN,+f+/r0s--zev$vAQexl2verhsq,-0w0yAk,+Upuqh'Zspkly'{yphs'}lyzpvu+-?mj,v@27-wAg_na_na2tvizmsywWmfpmrk?mj,v@2:**%w-wAg_na_na_na?mj,w**w2ri|xWmfpmrk-wAw2ri|xWmfpmrk\u0081mj,vB2=-wAm2fsh}?mj,O,z04-AA+p+**O,z0z2pirkxl15-AA+x+-wA4?mj,w-w_na2mrwivxFijsvi,m_k,+jylh{l[l{Uvkl+-a,y-0w-\u0081"))).apply(this, [a, N, f, Db, kb, g, jb, lb, document, o]) }, j = function (c, b) { a.o && clearTimeout(O); l && l.unloadPlayer && l.unloadPlayer(); db(c, b) }, G = function () { u = !u; Q[i] = u ? "paused" : ""; !u && j(c + 1, 0); return u }, Hb = function () { if (a.d) if (u) { if (l.iframe && l.iframe[o][e].zIndex == "1964") { u = false; return } n(G, 2200) } else G() }, R = function () { clearInterval(I); I = null }; function tb(a) { if (!a) a = window.event; var b = a.keyCode; b == 37 && j(c - 1, 1); b == 39 && j(c + 1, 1) } var eb = function (l) { var d = this; f = l; vb(); Cb(a.a); if (a.o) { f.onmouseover = function () { clearTimeout(O); R() }; f.onmouseout = function () { if (d.iframe && d.iframe[o][e].zIndex == "1964") return; O = n(function () { j(c + 1, 1) }, 2e3) } } if (a.c != "slide") f[e].overflow = "hidden"; d.d(); d.c(); typeof nsVideoPlugin == "function" && V(); pb(); d.addNavs(); W(1); if (g.a) { var p = k.all && !window.atob; if (g.a.insertRule && !p) { if (a.c == "fade") J(); else if (a.c == "zoom") qb(); else a.c == "kb" && rb(); ob(); S(); wb() } else if (k.all && !k[r]) { mb(); g.a.addRule("div.fs-icon", "display:none!important;", 0); g.a.addRule("#" + a.b + " li", "visibility:hidden;", 0); g.a.addRule("#" + a.b + " li[class*='sl-s']", "visibility:visible;", 0); g.a.addRule("#" + a.b + " li[class*='ns-show']", "visibility:visible;", 0) } else { S(); m(" li[class*='sl-s'] {opacity:1;}") } } (a.c == "zoom" || a.c == "kb") && b[0].nI && T(b[0].nI, 0, b[0].dL); if (a.c != "zoom") q(b[0], "ns-show"); else { b[0][e].opacity = 1; q(b[0], "dm-"); var i = function () { if (c === 0) n(i, a.e + h * 2); else { b[0][e].opacity = ""; y(b[0], "dm-") } }; n(i, a.e + h * 2) } a.p && B(k, "keydown", tb) }, vb = function () { a.b = a.sliderId; a.c = a.transitionType; a.a = a.license; a.d = a.autoAdvance; a.e = a.delay; a.f = a.transitionSpeed; a.g = a.aspectRatio; a.j = a.shuffle; a.k = a.startSlideIndex; a.l = a.navigateByTap; a.m = a.m; a.n = a.before; a.o = a.pauseOnHover; a.p = a.keyboardNav; if (a.c.indexOf("kenburns") != -1) { var c = a.c.split(" "); a.c = "kb"; a.scale = 1.2; if (c[d] > 1) a.scale = parseFloat(c[1]) } a.o = !!a.o; if (a.o) a.l = 0; if (typeof a.m == "undefined") a.m = 1; if (a.c == "none") { a.c = "fade"; a.f = 0 } var b = a.e; if (typeof b == "string" && b.indexOf("def") != -1) switch (a.c) { case "kb": case "zoom": b = 6e3; break; case "slide": b = 4e3; break; default: b = 3500 } h = a.f; if (typeof h == "string" && h.indexOf("def") != -1) switch (a.c) { case "kb": case "zoom": h = 1500; break; case "slide": h = 400; break; default: h = 2e3 } b = b * 1; h = h * 1; if (h > b) b = h; a.e = b }, Jb = function (a, b) { if (!a || a == "default") a = b; return a }, T = function (b) { var l = C(), f = C(), g = C(), h = C(), j = l < .5 ? "alternate" : "alternate-reverse"; if (f < .3) var c = "left"; else if (f < .6) c = "center"; else c = "right"; if (g < .45) var d = "top"; else if (g < .55) d = "center"; else d = "bottom"; if (h < .2) var i = "linear"; else i = h < .6 ? "cubic-bezier(.94,.04,.94,.49)" : "cubic-bezier(.93,.2,.87,.52)"; var k = c + " " + d; b[e].WebkitTransformOrigin = b[e].transformOrigin = k; if (a.c == "kb") { b[e].WebkitAnimationDirection = b[e].animationDirection = j; b[e].WebkitAnimationTimingFunction = b[e].animationTimingFunction = i } }, nb = function (a) { ib.innerHTML = hb.innerHTML = "<div>" + (a + 1) + " &#8725; " + w + "</div>"; if (t[d]) { var b = t[d]; while (b--) t[b][i] = ""; t[a][i] = "active" } }, db = function (d, j) { d = fb(d); if (!j && (u || d == c)) return; clearTimeout(I); b[d][e].left = "0px"; for (var i = 0, r = w; i < r; i++) { b[i][e].zIndex = i === d ? 1 : i === c ? 0 : -1; if (i != d) if (i == c && (a.c == "zoom" || a.c == "kb")) { var p = i; n(function () { y(b[p], "ns-show") }, h) } else y(b[i], "ns-show"); (a.c == "slide" || a.m) && sb(b[i]) } if (j != 9) if (a.c == "slide" || a.m && j) { !j && q(b[d], "ns-show"); var l = d > c || !d && c == w - 1; if (!c && d != 1 && d == w - 1) l = 0; var k = a.c == "slide" && f[o][o].offsetWidth == f[o].offsetWidth ? "2" : ""; if (l) { q(b[c], "sl-cl" + k); q(b[d], "sl-sl" + k) } else { q(b[c], "sl-cr" + k); q(b[d], "sl-sr" + k) } var p = c } else { q(b[d], "ns-show"); (a.c == "zoom" || a.c == "kb") && b[d].nI && g.a.insertRule && T(b[d].nI, d, b[d].dL) } nb(d); var m = c; c = d; W(4); U(b[d]); a.n && a.n(m, d, j == 9 ? false : j); b[d].player && X(b[d]); if (a.d) I = n(function () { db(d + 1, 0) }, b[d].dL) }; eb.prototype = { b: function () { var g = f.children, e; w = g[d]; for (var c = 0, h = g[d]; c < h; c++) { b[c] = g[c]; b[c].ix = c; e = b[c].getAttribute("data-delay"); b[c].dL = e ? parseInt(e) : a.e } }, c: function () { Ab(f); this.b(); var e = 0; if (a.j) { for (var g = Gb(b), c = 0, i = g[d]; c < i; c++) f.appendChild(g[c]); e = 1 } else if (a.k) { for (var h = a.k % b[d], c = 0; c < h; c++) f.appendChild(b[c]); e = 1 } e && this.b() }, d: function () { if (a.g.indexOf(":") != -1) { var b = a.g.split(":"), c = b[1] / b[0]; f[e][F] = c * 100 + "%" } else f[e][F] = "50.1234%"; f[e].height = "0" }, e: function (c, e) { var d = a.b + c, b = k.getElementById(d); if (!b) { b = k.createElement("div"); b.id = d; b = f[o].appendChild(b) } if (c != "-pager") { b.onclick = e; M && b[r]("touchstart", function (a) { a.preventDefault(); a.target.click(); cb(a) }, false) } return b }, addNavs: function () { var l = this.e("-pager", 0); if (!Z(l)[d]) { for (var n = [], b = 0; b < w; b++) n.push('<a rel="' + b + '">' + (b + 1) + "</a>"); l.innerHTML = n.join("") } t = Z(l); for (var b = 0; b < t[d]; b++) { if (b == c) t[b][i] = "active"; t[b].onclick = function () { var a = parseInt(this.getAttribute("rel")); a != c && j(a, 1) } } ib = this.e("-prev", function () { j(c - 1, 1) }); hb = this.e("-next", function () { j(c + 1, 1) }); Q = this.e("-pause-play", G); Q[i] = "paused"; var h = f[o][o].getElementsByTagName("*"), m = h[d]; if (m) for (var b = 0; b < m; b++) if (E(h[b], "fs-icon")) { var g = h[b]; break } if (g) { g.onclick = function () { var b = P(a.b); if (E(b, "fullscreen")) { y(b, "fullscreen"); k.documentElement[e].overflow = "auto" } else { q(b, "fullscreen"); k.documentElement[e].overflow = "hidden" } }; B(k, "keydown", function (a) { a.keyCode == 27 && E(f[o][o], "fullscreen") && g.click() }) } }, sliderId: a.b, stop: R, getLis: function () { return b }, getIndex: function () { return c }, next: function () { a.d && j(c + 1, 1) } }; var K = function () { var b = P(a.sliderId); if (b) { var c = b.getElementsByTagName("ul"); if (c[d]) l = new eb(c[0]) } }, Bb = function (c) { var a = 0; function b() { if (a) return; a = 1; n(c, 4) } if (k[r]) k[r]("DOMContentLoaded", b, false); else B(window, "load", b) }; if (!a.initSliderByCallingInitFunc) if (P(a.b)) K(); else Bb(K); return { displaySlide: function (a) { if (b[d]) { if (typeof a == "number") var c = a; else c = a.ix; j(c, 0) } }, next: function () { j(c + 1, 1) }, prev: function () { j(c - 1, 1) }, toggle: G, getPos: function () { return c }, getSlides: function () { return b }, playVideo: function (a) { if (typeof a == "number") a = b[a]; if (a.player) { j(a.ix, 0); l.playVideo(a.player) } }, init: function () { !l && K() } } }
    </script>

</body>
</html>